<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testngpackage">
  <test name="testngpackage">
    <classes>
           <class name="testngpackage.TestA"/>
           <class name="testngpackage.TestB"/>
    </classes>
  </test> 
</suite> 